* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
}

header h1 {
    font-size: 16px;
    color: white;
    
}

header nav ul{
    display: flex;
    gap: 10px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF;
}

section {
    margin-top: 10%;
}

section h2 {
    margin-bottom: 3%;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
}

.flexbox figure {
    margin: 0 auto 5% auto;
    height: 200px;
    width: 33.3%;
}

.flexbox .img {
    background-color: lightgrey;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
}


.grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 80%;
    height: 500px;
}

.grid1 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid1 .videoPrinc {
    background-color: lightgrey;
    margin-right: 2%;
}

.grid1 .videoPrinc div {
    line-height: 500px;
}

.grid1 aside {
    background-color: lightgrey;
    display: grid;
    grid-template-rows: 2;
    padding: 5%;
}

.grid1 aside div {
    background-color: rgb(235, 235, 235);
}

.grid1 aside div:nth-child(1) {
    margin-bottom: 3%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    width: 80%;
}

.grid2 .imgsPrinc figure{
    width: 500px;
    height: 600px;
}

.grid2 .imgsPrinc figure .img{
    width: 500px;
    height: 500px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsSecun {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    margin-left: 2%;
}

.imgsSecun figure {
    display: flex;
    margin-top: 4%;
    width: 250px;
    height: 125px;
}

.imgsSecun figure .img {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.imgsSecun figure figcaption {
    align-self: center;
    margin-left: 3%;
}
